*{
    box-sizing: content-box;
    margin: 0px;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 60px 0px 0px;
    width: fit-content;
}


/* INICIO CONFIRGURACIÓN HEADER Y NAVBAR */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-rigth {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logoUcamp {
    display: flex;
    align-items: center;
    width: 40px;
}

.navEnlace {
    color: whitesmoke;
    text-decoration: none;
    list-style: none;
}

.navEnlace:hover {
    color: lightskyblue;
    transition: 0.5s;
}
/*FIN CONFIRGURACIÓN HEADER Y NAVBAR*/

/*INICIO CONFIGURACIÓN BODY*/
.titulo {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    border-color: #f44336;
}

.tituloH1 {
    text-align: center;
    padding-top: 40px;
    font-size: 40px;
    border-color: #f44336;
}

.parrafo {
    text-align: center;
    color: blue;
}

.Campos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(80px, auto);
    justify-items: center;
}

.div-Nombre {grid-column-start: 1;}

.div-apPaterno {grid-column-start: 2;}

.div-apMaterno {grid-column-start: 1;}

.div-Mail {grid-column-start: 2;}

.div-Puesto {grid-column-start: 1;}

.div-Telefono {grid-column-start: 2;}

.nombre {padding-bottom: 5px;}

.apellidoPaterno {padding-bottom: 5px;}

.apellidoMaterno {padding-bottom: 5px;}

.tituloMail {padding-bottom: 5px;}

.puesto {padding-bottom: 5px;}

.telefono {padding-bottom: 5px;}

/* .h3-Comentarios {
    padding-bottom: 10px;
} */

.form-campos input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 5px;
    width: 250px;
    border-radius: 5px;
}

/* .div-Comentarios {
    padding-top: 50px;
} */

/* textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9vw;
    padding-left: 10px;
} */

.botonCampos {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;
}
.btAgrega {padding-right: 30px;}
.btActualiza {padding-right: 50px;}
.btNoActualizar {padding-right: 50px;}

.boton-Agregar {
    padding: 8px 10px;
    background-color: #369ba8;
    border-radius: 5px;
    border: 2px solid #369ba8;
    letter-spacing: 0.2mm;
    transition-duration: 0.4s;
    cursor: pointer;
    color: whitesmoke;
}

.boton-Agregar:hover {
    background-color: whitesmoke;
    color: #369ba8;
}

.oculta-botonAgrega {
    position: fixed;
    visibility: hidden;
}

.boton-Actualiza {
    position: fixed;
    visibility: hidden;
}

.muestra-Actualiza {
    padding: 8px 10px;
    background-color: #369ba8;
    border-radius: 5px;
    border: 2px solid #369ba8;
    letter-spacing: 0.2mm;
    transition-duration: 0.4s;
    cursor: pointer;
    color: whitesmoke;
    visibility: visible;
}

.muestra-Actualiza:hover {
    background-color: whitesmoke;
    color: #369ba8;
}

.boton-NoActualizar {
    position: fixed;
    visibility: hidden;
}

.muestra-NoActualizar {
    padding: 8px 10px;
    background-color: #369ba8;
    border-radius: 5px;
    border: 2px solid #369ba8;
    letter-spacing: 0.2mm;
    transition-duration: 0.4s;
    cursor: pointer;
    color: whitesmoke;
    visibility: visible;
}

.muestra-NoActualizar:hover {
    background-color: whitesmoke;
    color: #369ba8;
}

.boton-Limpiar {
    padding: 8px 10px;
    background-color: #369ba8;
    border-radius: 5px;
    border: 2px solid #369ba8;
    letter-spacing: 0.2mm;
    transition-duration: 0.4s;
    cursor: pointer;
    color: whitesmoke;
}

.boton-Limpiar:hover {
    background-color: whitesmoke;
    color: #369ba8;
}

.msjCamposVacios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    background-color: rgba(128, 128, 128, 0.541);
    height: 50px;
}

.ocultar-msjCamposVacios {
    position: fixed;
    visibility: hidden;
}

.imgCamposVacios {
    display: flex;
    align-items: center;
    padding-right: 8px;
    padding-top: 4px;
}

.imgVacios {
    width: 20px;
}

.tablaVacia {
    display: flex;
    align-items: center;
}

h4 {
    font-size: 20px;
}

.edicion {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 20px;
    visibility: hidden;
    position: fixed;
}

.edicion-botones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.boton-Editar {
    padding: 8px 20px;
    background-color: #555555;
    border-radius: 5px;
    border: 2px solid #555555;
    letter-spacing: 0.2mm;
    transition-duration: 0.2s;
    cursor: pointer;
    color: whitesmoke;
}

.boton-Editar:hover {
    padding: 8px 20px;
    border: 2px solid #555555;
    background-color: whitesmoke;
    color: black;
}

.boton-Eliminar {
    padding: 8px 10px;
    background-color: whitesmoke;
    border-radius: 5px;
    border: 2px solid #f44336;
    letter-spacing: 0.2mm;
    transition-duration: 0.4s;
    cursor: pointer;
    color: black;
}

.boton-Eliminar:hover {
    background-color: #f44336;
    color: whitesmoke;
}

.desactivar-botonEliminar {
    visibility: hidden;
}

.tabla-Datos {
    visibility: hidden;
}

.muestra-Tabla {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 50px;
    visibility: visible;
}

thead th {
    padding: 10px 100px;
    color: whitesmoke;
    background-color: #0e0d0da8;
    text-align: center;
}

tbody tr {
    padding: 10px 100px;
    color: black;
    background-color: #802222d0;
    text-align: center;
}

input:valid {
    background-color: rgba(172, 255, 47, 0.315);
}

input:invalid:required {
    background-color: rgba(255, 0, 0, 0.274);
}

tr:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.096);
}

tr:nth-child(odd) {
    background-color: white;
}

:nth-last-child(-n+2) {
    column-span: all;
}
/*FIN CONFIGURACIÓN BODY*/

/*INICIO CONFIGURACIÓN FOOTER*/
.section-footer {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-left: 30px;
}

.p-footer {
    text-align: center;
    color: rgba(146, 142, 142, 0.616);
    padding-top: 20px;
    padding-bottom: 30px;
}

.linea {
    height: 0.15px;
    width: 50%;
    margin: auto;
    background-color: rgba(206, 203, 203, 0.25);
    border-color: rgba(206, 203, 203, 0.25);
    border-radius: 0.2px;
}
/*INICIO CONFIGURACIÓN FOOTER*/